repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: local
    hooks:
      - id: ruff-format
        name: ruff-format
        language: system
        entry: ruff format
        types: [python]

      - id: ruff
        name: ruff
        language: system
        entry: ruff check --fix
        types: [python]

      - id: lock-file-check
        name: lock file check
        language: system
        entry: uv lock --check
        pass_filenames: false
        files: ^(pyproject\.toml|.*\.lock)$

      - id: mypy
        name: mypy
        language: system
        entry: mypy
        pass_filenames: false
        types: [python]
        args: [ "tg_trnsm_bot" ]
